<div class="row justify-content-center align-items-center container-title">
  <div class="col-auto mb-2 container-material-input" [class.editable]="editable" [formGroup]="formGroup">

    <ng-container *ngIf="editable">
      <input
        type="text"
        id="form-title"
        autocomplete="off"
        formControlName="title"
        class="form-control"
        [maxLength]="50"
        (blur)="saveTitle()">
    </ng-container>
    <ng-container *ngIf="!editable">
      <h2 class="text-break" (click)="editTitle()">{{title}}</h2>
    </ng-container>
  </div>
</div>
