
$jb-primary-light: #8dd0ff;
$jb-primary-light-hover: #65a5d5;
$jb-primary: #1976d2;
$jb-primary-hover: #0f5ea9;
$jb-color: #545454;

$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
