
.circular-icon-button{
  border: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 60%) !important;

  &.primary{
    background-color: $jb-primary;
    color: #FFF;

    &:hover{
      background-color: $jb-primary-hover;
    }
  }
}

.circular-icon-button i{
  position: absolute;
  transform: translate(-50%, -50%);
}
