<div class="container-material-input" [class.editable]="editable" [formGroup]="formGroup">
  <ng-container *ngIf="editable">
    <input
      type="text"
      autocomplete="off"
      formControlName="value"
      class="form-control"
      [ngStyle]="inputStyle"
      [id]="inputId"
      [maxLength]="50"
      (blur)="save()">
  </ng-container>
  <ng-container *ngIf="!editable">
    <div class="text-break" [ngStyle]="valueStyle" [ngClass]="styleClassValueNotEditable" (click)="edit()">{{value || emptyText}}</div>
  </ng-container>
</div>
