
.container-element-option .form-check-input{
  margin-top: .3rem;
}

.container-element-option .element-option{
  line-height: 1.5rem;
}

.btn.remove {
  border-radius: 50%;
  border: 0;
  font-size: 1.2rem;
  padding: 1px 7px;
  line-height: inherit;
}
.btn.remove:HOVER, .btn.remove:focus {
  background-color: rgba(84, 84, 84, 0.1);
}

.btn.remove i{
  opacity: .4;
}

.container-error-message{
  font-size: 1.2rem;
  min-width: 31.2px;
}
