<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/svg-icons/angular.svg" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Dynamic Forms
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="activatedItem == item" [routerLink]="item.routerLink" *ngFor="let item of itens">{{item.label}}</a>
      </div>
    </div>
  </div>
</nav>
