<nav class="navbar navbar-dark navbar-expand-md jb-bg-primary">
  <div class="container-fluid" *transloco="let translate">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/svg-icons/angular.svg" alt="" width="30" height="30" class="d-inline-block align-text-top">
      {{translate('title')}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of items">
          <a class="nav-link" [class.active]="activatedItem == item" [routerLink]="item.routerLink">{{translate(item.label)}}</a>
        </li>
      </ul>
      <div class="d-flex pe-3">
        <app-language-selector></app-language-selector>
      </div>
      <div class="d-flex" *ngIf="showGitBtn">
        <a
          class="btn-git"
          title="GitHub"
          target="_blank"
          href="https://github.com/juliocmbueno/portfolio-angular-dynamic-forms"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>
