<div
  class="container-element"
  [ngClass]="{'editable shadow-sm': editableElement === element}"
  (click)="edit(element)"
  *ngFor="let element of elements">
  <div class="row config justify-content-end align-items-center jb-bg-primary">
    <div class="col-12 col-md-auto pb-1 pb-md-0">
      <input type="text" class="form-control" placeholder="Element Title" [(ngModel)]="element.label">
    </div>
    <div class="col-12 col-md-auto pb-1 pb-md-0">
      <p-dropdown [options]="types" [style]="{minWidth: '200px'}" [(ngModel)]="element.type" placeholder="Select a Country">
        <ng-template pTemplate="selectedItem">
          <div class="row">
            <div class="col-auto"><i [className]="element.type?.icon"></i></div>
            <div class="col-auto">{{element.type?.label}}</div>
          </div>
        </ng-template>
        <ng-template let-type pTemplate="item">
          <div class="row">
            <div class="col-auto"><i [className]="type.icon"></i></div>
            <div class="col-auto">{{type.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-12 col-md-auto pb-1 pb-md-0 text-end">
      <button class="btn" title="Remove" (click)="remove(element)"><i class="fa-solid fa-trash-can"></i></button>
    </div>
  </div>
  <div>
    <label class="form-label">{{element.label ? element.label : 'New Element'}}</label>
    <input type="text" class="form-control" value="{{element.type?.label}}" [disabled]="true" *ngIf="element.type?.elementType === 'TEXT'">
    <textarea class="form-control" value="{{element.type?.label}}" [rows]="3" [disabled]="true" *ngIf="element.type?.elementType === 'TEXTAREA'"></textarea>
  </div>
</div>
