<div class="container-element">
  <div
    class="element"
    [ngClass]="{'editable shadow-sm': editableElement === element}"
    (click)="edit(element)"
    (keyup.delete)="remove(element)"
    *ngFor="let element of form.elements; let index = index">

    <app-dynamic-form-create-element-config
      [form]="form"
      [element]="element"
      [index]="index"
      [visible]="editableElement === element"
      (onRemove)="edit($event)"
      (editNext)="edit($event)"></app-dynamic-form-create-element-config>

    <div>
      <label class="form-label">{{element.label ? element.label : 'New Element'}}<span class="required-mark" *ngIf="element.required">*</span></label>
      <input type="text" class="form-control" value="{{element.type?.label}}" [disabled]="true" *ngIf="element.type?.elementType === 'TEXT'">
      <textarea class="form-control" value="{{element.type?.label}}" [rows]="3" [disabled]="true" *ngIf="element.type?.elementType === 'TEXTAREA'"></textarea>
    </div>
  </div>
</div>
