<div class="container-element">
  <div
    class="element"
    [ngClass]="{'editable shadow-sm': editableElement === element}"
    (click)="edit(element)"
    (keyup.delete)="remove(element)"
    *ngFor="let element of form.elements">

    <app-dynamic-form-create-element-config
      [form]="form"
      [element]="element"
      [visible]="editableElement === element"
      (onRemove)="edit($event)"
      (editNext)="edit($event)"></app-dynamic-form-create-element-config>

    <div>
      <label class="form-label">{{element.label ? element.label : 'New Element'}}<span class="required-mark" *ngIf="element.required">*</span></label>

      <div [ngSwitch]="element.type.elementType">
        <ng-container *ngSwitchCase="typeText">
          <app-dynamic-form-create-element-view-text
            [element]="element"></app-dynamic-form-create-element-view-text>
        </ng-container>
        <ng-container *ngSwitchCase="typeTextarea">
          <app-dynamic-form-create-element-view-textarea
            [element]="element"></app-dynamic-form-create-element-view-textarea>
        </ng-container>
        <ng-container *ngSwitchCase="typeRadio">
          <app-dynamic-form-create-element-view-radio
            [element]="element"
            [editable]="editableElement === element"></app-dynamic-form-create-element-view-radio>
        </ng-container>
        <ng-container *ngSwitchCase="typeCheckbox">
          <app-dynamic-form-create-element-view-checkbox
            [element]="element"></app-dynamic-form-create-element-view-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
</div>
